<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Sid Tech Salary Predictor</title>
</head>
<h1 style="text-align: center;color: blue;">Sid Tech Salary Predictor</h1>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Experience:
        <input name="experience" type="number"placeholder="Year of Experience" required>
        <br>
        <br> Test Score:&nbsp;
        <input name="testscore" type="number" placeholder="Enter test score" required>
        <br>
        <br> Skills:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="skills" type="number" placeholder="No. of Skills"required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Salary of the Employee has been estimated Rs :
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>